body{
    background-color: rgb(37,37,47);
}
div{
    background-color:rgba(33,47,73, 0.7);
}
a{
    text-decoration: none;
}
h1{
    color: rgb(105,195,165);
}
a:link {
    color:rgb(105,195,165);
}

a:visited {
    color:rgb(105,195,165);
}
    
a:hover {
    color:rgb(100, 149, 237);
}

a:active {
    color:rgb(105,195,165);
}