body{
    background-image: url("background.png");
}
div{
    background-color:rgba(255,235,217, 0.7);
}
a{
    text-decoration: none;
}
a:link {
    color:#f03752;
}

a:visited {
    color:#f03752;
}
    
a:hover {
    color:#6495ed;
}

a:active {
    color:#ee2746;
}